*, *::after, *::before {
    box-sizing:border-box;
}

:root {
    --cell-size: 100px;
    --mark-size: calc(var(--cell-size) * .86);
}

body {
    margin: 0px;
    background-color: rgb(0, 0, 0);
}

.board {
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(3, auto);
}

.cell {
    height: var(--cell-size);
    width: var(--cell-size);
    border: 2px solid rgb(6, 30, 138);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor:pointer;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(3n + 1 ) {
    border-left: none;
}

.cell:nth-child(3n + 3) {
    border-right: none;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9) {
    border-bottom: none;
}

.cell.x,
.cell.o {
    cursor: not-allowed;
}

.cell.x::before,
.cell.x::after,
.cell.o::before {
    background-color: rgb(6, 30, 138);
}

.board.x .cell:not(.o):not(.x):hover::before, 
.board.x .cell:not(.o):not(.x):hover::after,
.board.o .cell:not(.o):not(.x):hover::before{
    background-color: rgb(102, 196, 233);
}

.cell.x::before,
.cell.x::after,
.board.x .cell:not(.o):not(.x):hover::before, 
.board.x .cell:not(.o):not(.x):hover::after {
    content: '';
    position: absolute;
    width: calc(var(--mark-size) * .15);
    height: var(--mark-size);
}

.cell.x::after,
.board.x .cell:not(.o):not(.x):hover::after {
    transform: rotate(45deg);
}

.cell.x::before, 
.board.x .cell:not(.o):not(.x):hover::before {
    transform: rotate(-45deg);
}

.cell.o::before,
.cell.o::after,
.board.o .cell:not(.o):not(.x):hover::before, 
.board.o .cell:not(.o):not(.x):hover::after {
    content: '';
    position: absolute;
    border-radius: 50%;
}

.cell.o::before,
.board.o .cell:not(.o):not(.x):hover::before {
    width: var(--mark-size);
    height: var(--mark-size);
}

.board.o .cell:not(.o):not(.x):hover::before {
    background-color: rgb(102, 196, 233);
}

.cell.o::after, 
.board.o .cell:not(.o):not(.x):hover::after {
    width: calc(var(--mark-size) * .69);
    height: calc(var(--mark-size) * .69);
    background-color:  rgb(0, 0, 0);
}

.title {
    font-family: 'Fira Code SemiBold', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(6, 30, 138);
    font-size: 50px;
    text-align: center;
}

.winning-message {
    
    position:fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    font-size: 3rem;
    font-family: 'Courier New', Courier, monospace;
    flex-direction: column;

}

#restart-button {
    border-radius: 6px;
    height: 50px;
    width: 165px;
    margin: 3px, 1px;
    padding: 3px;
    font-size: 2rem;
    font-family: 'fira code semibold';
    color: white;
    background-color: rgb(23, 149, 223);
    border-color: 1px solid rgb(9, 129, 199);
}

#restart-button:hover {
    background-color: rgb(24, 133, 195);
    border-color: 1px solid rgb(14, 83, 122);
}

.winning-message.show {
    display: flex;
}